.grid-container {
	display: grid;
	/*grid-template-columns: auto auto auto auto;*/
	grid-template-columns: 25% 25% 25% 25%;
	/*background-color: #FFFFFF;*/
	padding: 20px 20px 20px 20px;
	color: black;
}
.nucleonContainer {
	background-color: rgba(255, 255, 200, 0.2);
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	/*border: 2px ridge rgba(50, 50, 255, .3);*/
}
.elementContainerup {
	background-color: rgb(200,255,255,0.2);
	width: 100%;
	padding: 0px 0px 0px 0px;
	border-radius: 10px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.shopContainer2 {
	background-color: rgba(255, 200, 255, 0.2);
	width: 100%;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	text-align: center;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.achievementContainerup {
	background-color: rgb(200,200,255,0.2);
	width: 100%;
	padding: 0px 0px 0px 0px;
	border-radius: 10px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.restartContainer {
	display: inline;
}
.titleContainer {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
}
.scoreContainer {
	background-color: rgb(255,255,255,0);
	width: 100%;
	padding: 0px;
	border-radius: 0px;
	font-size: 14px;
	font-weight: bold;
	image-rendering: -moz-crisp-edges;
}
.buttonContainer {
	/*background-color: rgb(255,255,255,0.6);*/
	width: 100%;
	padding: 0px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
}

#achievementContainer img{
	height: 16px;
	width: 16px;
}
.clickerContainer img {
	position: relative;
	transition: all .2s ease-in-out;
}
.clickerContainer img:hover{
	transform: scale(1.10);
}
.clickerContainer img:active{
	transform: scale(0.99);
}

.clickerbutton {
	background-size: contain;
	position: relative;
	transition: all .2s ease-in-out;
	height: 128px;
	width: 128px;
	image-rendering: -moz-crisp-edges;
}

.clickerbutton:hover{ transform: scale(1.10);}

.clickerbutton:active {transform: scale(0.99);}

.clickerbutton > .number {
	z-index: 99;
	font-size: 20px;
	font-family: sans-serif;
	color: white;
	position: absolute;
}


.shopButton {
	background-color: rgb(0,0,0,0.05);
	transition: all .2s ease-in-out;
	border-radius: 20px;
	width: 100%;
	margin: 0px 0px 5px 0px;
	font-size: 12px;
}
	.shopButton:hover {
		background-color: rgb(0,0,0,0.2);
		transition: all .2s ease-in-out;
	}
.shopButton #image{
	width: 10%;
}
	/*.shopButton img {
		height: 64px;
		width: 64px;
		image-rendering: -moz-crisp-edges;
	}*/
.pixelated {
	image-rendering: pixelated;
}
.centered {
	text-align: center;
	font-weight: bold;
}
.shopButton #nameAndCost p{
	margin : 0px;
	width : 80%;
}
.shopButton #nameAndCost p:first-of-type{
	font-size: 24px;
}
.shopButton #amount{
	font-size: 48px;
	color: #595959;
	font-family: roboto;
	width: 10%;
}

.unselectable {
	-webkit-user-select : none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sectionFooter {
	margin-top : 20%;
}

.floatDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #FF3300;
	width: 10px;
	height: 10px;
}

.nucleusContainer {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake2 0.9s ease-out;
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
	image-rendering: -moz-crisp-edges;
}

	.nucleusContainer img:hover {
		transform: scale(1.05);
	}

	.nucleusContainer img:active {
		transform: scale(0.99);
	}

.nucleusContainer2 {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake2 0.9s ease-out;
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
	image-rendering: -moz-crisp-edges;
}
.nucleusContainer2 canvas:hover {
	transform: scale(1.05);
}

.nucleusContainer2 canvas:active {
	transform: scale(0.99);
}

@keyframes shake {
	0% {transform: translate(0.2px, 0.2px) rotate(0deg);}
	10% {transform: translate(-0.2px, -0.4px) rotate(-0.2deg);}
	20% {transform: translate(-0.6px, 0px) rotate(0.2deg);}
	30% {transform: translate(0.6px, 0.4px) rotate(0deg);}
	40% {transform: translate(0.2px, -0.2px) rotate(0.4deg);}
	50% {transform: translate(-0.2px, 0.4px) rotate(-0.2deg);}
	60% {transform: translate(-1px, 0.2px) rotate(0deg);}
	70% {transform: translate(0.6px, 0.2px) rotate(-0.6deg);}
	80% {transform: translate(-0.2px, -0.2px) rotate(0.2deg);}
	90% {transform: translate(0.2px, 0.4px) rotate(0deg);}
	95% {transform: translate(0.2px, -0.4px) rotate(-0.2deg);}
	100% {transform: translate(0px, 0.4px) rotate(-0.4deg);}
}

@keyframes shake2 {
	0% {transform: translate(0.4px, 0.4px) rotate(0deg);}
	10% {transform: translate(-0.4px, -0.8px) rotate(-6deg);}
	20% {transform: translate(-1.2px, 0px) rotate(0.4deg);}
	30% {transform: translate(1.2px, 0.8px) rotate(0deg);}
	40% {transform: translate(0.4px, -0.4px) rotate(1.6deg);}
	50% {transform: translate(-0.4px, 0.8px) rotate(-0.4deg);}
	60% {transform: translate(-2px, 0.4px) rotate(0deg);}
	70% {transform: translate(1.2px, 0.4px) rotate(-2.4deg);}
	80% {transform: translate(-0.4px, -0.4px) rotate(0.4deg);}
	90% {transform: translate(0.4px, 0.8px) rotate(0deg);}
	95% {transform: translate(0.4px, -0.8px) rotate(-0.4deg);}
	100% {transform: translate(0px, 0.8px) rotate(-0.8deg);}
}

.parent img {
	animation: slide 0.5s ease-out;
	/*animation-iteration-count: infinite;*/
	position: absolute;
	top: 400px;
	left: 500px;
}

.image1 {
	z-index: -1;
	position: relative;
	top: -335px;
	animation: slide 0.3s ease-out, hideAnimation 0s ease-in 0.3s;
	animation-fill-mode: forwards;
}

.image2 {
	z-index: -1;
	position: relative;
	top: -335px;
	animation: slide2 0.3s ease-out, hideAnimation 0s ease-in 0.3s;
	animation-fill-mode: forwards;
}

.image3 {
	z-index: -1;
	position: relative;
	top: -335px;
	animation: slide3 0.3s ease-out, hideAnimation 0s ease-in 0.3s;
	animation-fill-mode: forwards;
}

.image4 {
	z-index: -1;
	position: relative;
	top: -335px;
	animation: slide4 0.3s ease-out, hideAnimation 0s ease-in 0.3s;
	animation-fill-mode: forwards;
}
.image5 {
	z-index: -1;
	position: relative;
	top: -335px;
	left: 20px;
	animation: slide5 0.3s ease-out, hideAnimation 0s ease-in 0.3s;
	animation-fill-mode: forwards;
}
.image6 {
	z-index: -1;
	position: relative;
	top: -335px;
	left: 10px;
	animation: slide6 0.3s ease-out, hideAnimation 0s ease-in 0.3s;
	animation-fill-mode: forwards;
}
.image7 {
	z-index: -1;
	position: relative;
	top: -335px;
	left: -10px;
	animation: slide7 0.6s ease-out, hideAnimation 0s ease-in 0.6s;
	animation-fill-mode: forwards;
}

.image8 {
	z-index: -1;
	position: relative;
	top: -335px;
	left: -30px;
	animation: slide8 0.6s ease-out, hideAnimation 0s ease-in 0.6s;
	animation-fill-mode: forwards;
}

@keyframes slide /*leaving top right*/ { 
	0% {transform: translate(0px, 0px) rotate(0deg);}
	10% {transform: translate(20px, -10px) rotate(20deg);}
	20% {transform: translate(40px, -20px) rotate(40deg);}
	30% {transform: translate(60px, -30px) rotate(60deg);}
	40% {transform: translate(80px, -40px) rotate(80deg);}
	50% {transform: translate(100px, -50px) rotate(100deg);}
	60% {transform: translate(120px, -60px) rotate(120deg);}
	70% {transform: translate(140px, -70px) rotate(140deg);}
	80% {transform: translate(160px, -80px) rotate(160deg);}
	90% {transform: translate(180px, -90px) rotate(180deg);}
	100% {transform: translate(200px, -100px) rotate(200deg);}
}
@keyframes slide2 /*leaving top left*/ {
	0% {transform: translate(0px, 0px) rotate(0deg);}
	10% {transform: translate(-20px, -10px) rotate(-20deg);}
	20% {transform: translate(-40px, -20px) rotate(-40deg);}
	30% {transform: translate(-60px, -30px) rotate(-60deg);}
	40% {transform: translate(-80px, -40px) rotate(-80deg);}
	50% {transform: translate(-100px, -50px) rotate(-100deg);}
	60% {transform: translate(-120px, -60px) rotate(-120deg);}
	70% {transform: translate(-140px, -70px) rotate(-140deg);}
	80% {transform: translate(-160px, -80px) rotate(-160deg);}
	90% {transform: translate(-180px, -90px) rotate(-180deg);}
	100% {transform: translate(-200px, -100px) rotate(-200deg);}
}

@keyframes slide3 /*leaving bottom left*/ {
	0% {transform: translate(0px, 0px) rotate(0deg);}
	10% {transform: translate(-20px, 10px) rotate(-20deg);}
	20% {transform: translate(-40px, 20px) rotate(-40deg);}
	30% {transform: translate(-60px, 30px) rotate(-60deg);}
	40% {transform: translate(-80px, 40px) rotate(-80deg);}
	50% {transform: translate(-100px, 50px) rotate(-100deg);}
	60% {transform: translate(-120px, 60px) rotate(-120deg);}
	70% {transform: translate(-140px, 70px) rotate(-140deg);}
	80% {transform: translate(-160px, 80px) rotate(-160deg);}
	90% {transform: translate(-180px, 90px) rotate(-180deg);}
	100% {transform: translate(-200px, 100px) rotate(-200deg);}
}

@keyframes slide4 /*leaving bottom right*/ {
	0% {transform: translate(0px, 0px) rotate(0deg);}
	10% {transform: translate(20px, 10px) rotate(20deg);}
	20% {transform: translate(40px, 20px) rotate(40deg);}
	30% {transform: translate(60px, 30px) rotate(60deg);}
	40% {transform: translate(80px, 40px) rotate(80deg);}
	50% {transform: translate(100px, 50px) rotate(100deg);}
	60% {transform: translate(120px, 60px) rotate(120deg);}
	70% {transform: translate(140px, 70px) rotate(140deg);}
	80% {transform: translate(160px, 80px) rotate(160deg);}
	90% {transform: translate(180px, 90px) rotate(180deg);}
	100% {transform: translate(200px, 100px) rotate(200deg);}
}

@keyframes slide5 /*coming bottom left*/ {
	100% {transform: translate(0px, 0px) rotate(0deg);}
	90% {transform: translate(-20px, 10px) rotate(-20deg);}
	80% {transform: translate(-40px, 20px) rotate(-40deg);}
	70% {transform: translate(-60px, 30px) rotate(-60deg);}
	60% {transform: translate(-80px, 40px) rotate(-80deg);}
	50% {transform: translate(-100px, 50px) rotate(-100deg);}
	40% {transform: translate(-120px, 60px) rotate(-120deg);}
	30% {transform: translate(-140px, 70px) rotate(-140deg);}
	20% {transform: translate(-160px, 80px) rotate(-160deg);}
	10% {transform: translate(-180px, 90px) rotate(-180deg);}
	0% {transform: translate(-200px, 100px) rotate(-200deg);}
}

@keyframes slide6 /*coming bottom right*/ {
	100% {transform: translate(0px, 0px) rotate(0deg);}
	90% {transform: translate(20px, 10px) rotate(20deg);}
	80% {transform: translate(40px, 20px) rotate(40deg);}
	70% {transform: translate(60px, 30px) rotate(60deg);}
	60% {transform: translate(80px, 40px) rotate(80deg);}
	50% {transform: translate(100px, 50px) rotate(100deg);}
	40% {transform: translate(120px, 60px) rotate(120deg);}
	30% {transform: translate(140px, 70px) rotate(140deg);}
	20% {transform: translate(160px, 80px) rotate(160deg);}
	10% {transform: translate(180px, 90px) rotate(180deg);}
	0% {transform: translate(200px, 100px) rotate(200deg);}
}

@keyframes slide7 /*leaving top right slow*/ {
	0% {transform: translate(0px, 0px) rotate(0deg);}
	5% {transform: translate(0px, 0px) rotate(0deg);}
	10% {transform: translate(0px, 0px) rotate(0deg);}
	15% {transform: translate(0px, 0px) rotate(0deg);}
	20% {transform: translate(0px, 0px) rotate(0deg);}
	25% {transform: translate(0px, 0px) rotate(0deg);}
	30% {transform: translate(0px, 0px) rotate(0deg);}
	35% {transform: translate(0px, 0px) rotate(0deg);}
	40% {transform: translate(0px, 0px) rotate(0deg);}
	45% {transform: translate(0px, 0px) rotate(0deg);}
	50% {transform: translate(0px, 0px) rotate(0deg);}
	55% {transform: translate(20px, -10px) rotate(-20deg);}
	60% {transform: translate(40px, -20px) rotate(-40deg);}
	65% {transform: translate(60px, -30px) rotate(-60deg);}
	70% {transform: translate(80px, -40px) rotate(-80deg);}
	75% {transform: translate(100px, -50px) rotate(-100deg);}
	80% {transform: translate(120px, -60px) rotate(-120deg);}
	85% {transform: translate(140px, -70px) rotate(-140deg);}
	90% {transform: translate(160px, -80px) rotate(-160deg);}
	95% {transform: translate(180px, -90px) rotate(-180deg);}
	100% {transform: translate(200px, -100px) rotate(-200deg);}
}

@keyframes slide8 /*leaving top left slow*/ {
	0% {transform: translate(0px, 0px) rotate(0deg);}
	5% {transform: translate(0px, 0px) rotate(0deg);}
	10% {transform: translate(0px, 0px) rotate(0deg);}
	15% {transform: translate(0px, 0px) rotate(0deg);}
	20% {transform: translate(0px, 0px) rotate(0deg);}
	25% {transform: translate(0px, 0px) rotate(0deg);}
	30% {transform: translate(0px, 0px) rotate(0deg);}
	35% {transform: translate(0px, 0px) rotate(0deg);}
	40% {transform: translate(0px, 0px) rotate(0deg);}
	45% {transform: translate(0px, 0px) rotate(0deg);}
	50% {transform: translate(0px, 0px) rotate(0deg);}
	55% {transform: translate(-20px, -10px) rotate(20deg);}
	60% {transform: translate(-40px, -20px) rotate(40deg);}
	65% {transform: translate(-60px, -30px) rotate(60deg);}
	70% {transform: translate(-80px, -40px) rotate(80deg);}
	75% {transform: translate(-100px, -50px) rotate(100deg);}
	80% {transform: translate(-120px, -60px) rotate(120deg);}
	85% {transform: translate(-140px, -70px) rotate(140deg);}
	90% {transform: translate(-160px, -80px) rotate(160deg);}
	95% {transform: translate(-180px, -90px) rotate(180deg);}
	100% {transform: translate(-200px, -100px) rotate(200deg);}
}

#hideMeAfter5Seconds {
	animation: hideAnimation 0s ease-in 5s;
	animation-fill-mode: forwards;
}

@keyframes hideAnimation {
	to {
		visibility: hidden;
		width: 0;
		height: 0;
	}
}

.modal {
	display: none;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	z-index: 100;
	font-size: 14px;
}

	.modal.show {
		display: block;
	}

	.modal.hide {
		visibility: collapse;
	}

.modalP {
	display: none;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	z-index: 100;
	font-size: 14px;
}

	.modalP.show {
		display: block;
	}

	.modalP.hide {
		visibility: collapse;
	}

.collapsible {
	background-color: rgb(100,100,255,0.2);
	border-radius: 10px;
	font-weight: bold;
	color: rgb(0,0,0,1);
	cursor: pointer;
	padding: 5px;
	width: 100%;
	outline: none;
	text-align: center;
	border: 2px ridge rgba(50, 50, 255, .3);
	font-size: 15px;
}

	.collapsible:hover {
		background-color: rgb(150,150,255,0.2);
	}

	.active {
		background-color: rgb(120,120,255,0.2);
	}

.buttonLead {
	display: none;
}

	.buttonLead.show {
		display: inline;
	}

.buttonStablum {
	display: none;
}

	.buttonStablum.show {
		display: inline;
	}
